1 ICON "spce_logo.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "iRoot"
            VALUE "FileDescription", "SPCE Manage main executable"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "SPCE Manage"
            VALUE "LegalCopyright", "© 2025 iRoot"
            VALUE "OriginalFilename", "SPCE Manage.exe"
            VALUE "ProductName", "SPCE Manage"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
